<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<script type="text/javascript" src="/js/jquery-3.1.0.min.js" ></script>
<script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<form method="post" th:object="${room}" enctype="multipart/form-data">
	
            <div class="form-group">
	             <label for="name">Room name:</label>
	             <input type="text" class="form-control" th:field="*{name}" placeholder="Enter room name"	/>
	             <p th:if="${#fields.hasErrors('name')}"  th:errors="*{name}" style="color:red;"> Incorrect name </p>
            </div>
            
            <div class="form-group">
	             <label for="pwd">Password:</label>
	             <input id="pwd" type="password" class="form-control" th:field="*{password}" placeholder="Room password, if any" />
            </div>       
            
            <div class="form-group">
	             <label for="desc">Description:</label>
	             <input id="desc" type="text" class="form-control" th:field="*{description}" placeholder="Room descriptiom" />
            </div>       
            
            <div class="form-group">
	             <label for="file">Profile image:</label>
	             <input id="file" type="file" name="image" />
            </div> 
            
            <div class="form-group">
             	 <label for="active">Active:</label>
	             <input id="active" type="checkbox" th:field="*{active}" />
            </div> 
            
            <div class="form-group">                        
                <label for="allowed">Allowed users:</label>
	            <tr id="allowed" th:each="user,status : ${allUsers}">	            
	            	<p><input type="checkbox"
	            			name="users[]"						  
	            		    th:value="${user.id}" 
	            		    th:text="${user.name}"
	            		    th:checked="${#lists.contains(room.allowedUsers, user)}" /></p>
		      	</tr> 
	      	</div> 
	      	
	      	<div sec:authorize="hasRole('ROLE_ADMIN')">
				<div class="form-group">                        
	                <label for="owners">Choose the owner of this room:</label>
		            <tr id="owners" th:each="owner : ${owners}">	            
		            	<p><input type="radio"
		            			name="ownerId"						  
		            		    th:value="${owner.id}" 
		            		    th:text="${owner.name}"
		            		    th:checked="${#lists.contains(owners, room.owner)}" /></p>
			      	</tr> 
		     	</div> 
			</div>					
	      	
            <div class="form-group">
             	<input class="btn btn-default" type="submit" value="Create/Update room"/>
            </div>
    </form>
</div>    
</body>
</html>